/* Styles for Mobile Site */
@media screen and (min-width: 200px) and (max-width: 999px) {
   
    body {
        font-family:"IBM Plex Mono";
        background-color: #496425;
    }

/* Header & Hero */

    header h1 {
        padding-left: 2.5%;
    }
    #hero {
        display: flex;
        align-items: left;
        color: #000000;
        background-color: #F0FFDD;
        padding:10px;
        border: 2px solid #F0FFDD;
        box-shadow: 10px 10px #2E3A1F;
        max-width: 95%;
    }
    #hero img {
        max-block-size: 150px;
        align-self:center;
    }
    #hero p {
        padding: 3%;
    }

/* Projects */

    #projects {
        display:list-item;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: left;
        color: #000000;
        background-color: #F0FFDD;
        padding:10px;
        border: 2px solid #F0FFDD;
        box-shadow: 10px 10px #2E3A1F;
        max-width: 95%;
    }

    #projects h2 {
        text-align: center;
    }

    #projects figcaption {
        padding:3%;
    }
    #projects figure {
        display:block;
        text-align: center;
        color: #000000;
        background-color: #F0FFDD;
        padding:10px;
        min-width:fit-content ;
    }

    #projects figure img {
        max-width: 95%;
        border: 2px solid #496425;
        box-shadow: 10px 10px #2E3A1F;
    }

/* Reviews */

    #reviews {
        display: block;
        align-items: center;
        padding:10px;
        background-color: #496425;
        border: 2px solid #F0FFDD;
        box-shadow: 10px 10px #2E3A1F;
        max-width: 95%;
    }
    #reviews .h {
        text-align: center;
        color: #F0FFDD;
        font-style: italic;
    }
    #rev {
        display: block;
        align-items: left;
        color: #000000;
        background-color: #F0FFDD;
        padding:10px;
        border: 2px solid #2E3A1F;

    }

/* Footer */

    footer {
        display: block;
        align-items: center;
        padding:10px;
        background-color: #F0FFDD;
        border: 2px solid #F0FFDD;
        box-shadow: 10px 10px #2E3A1F;
        max-width: 95%;
    }

    footer p {
        font-style: italic;
        
    }
}

/* Media state for Desktop site */
@media (min-width: 1000px) {

    body {
        font-family:"IBM Plex Mono";
        background-color: #496425;
    }
    /* Header & Hero */

    header h1 {
        padding-left: 2.5%;
    }
    #hero {
        display: flex;
        align-items: left;
        color: #000000;
        background-color: #F0FFDD;
        padding:10px;
        border: 2px solid #F0FFDD;
        box-shadow: 10px 10px #2E3A1F;
        max-width: 75%;
    }
    #hero img {
        max-block-size: 150px;
        padding-left: 2%;
        padding-top: 2%;
    }
    #hero p {
        padding: 3%;
    }

/* Projects */

    #projects {
        display:list-item;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: left;
        color: #000000;
        background-color: #F0FFDD;
        padding:10px;
        border: 2px solid #F0FFDD;
        box-shadow: 10px 10px #2E3A1F;
        max-width: 75%;
     }

     #projects h2 {
        text-align: center;
     }

     #projects figcaption {
        padding:3%;
     }
     #projects figure {
        display: flex;
        align-items: left;
        text-align: left;
        color: #000000;
        background-color: #F0FFDD;
        padding:10px;
        border: 2px solid #496425;
     }

     #projects figure img {
        max-width: 480px;
     }
        
/* Reviews */
    
    #reviews {
        display: block;
        align-items: center;
        padding:10px;
        background-color: #496425;
        border: 2px solid #F0FFDD;
        box-shadow: 10px 10px #2E3A1F;
        max-width: 75%;
    }

    #reviews .h {
        text-align: center;
        color: #F0FFDD;
        font-style: italic;
    }

    #rev {
        display: block;
        align-items: left;
        color: #000000;
        background-color: #F0FFDD;
        padding:10px;
        border: 2px solid #2E3A1F;
    }

    #rev .name {
        font-weight: bold;
    }

    #rev .rating {
        font-style: italic;
    }

/* Footer */

    footer {
        display: flex;
        align-items: center;
        padding:10px;
        background-color: #F0FFDD;
        border: 2px solid #F0FFDD;
        box-shadow: 10px 10px #2E3A1F;
        max-width: 75%;
    }

    footer p {
        font-style: italic;
        padding-left:1%;
    }
}




